.Form-Container {
    background-image: url('./hyamy0.jpg');
    height: 100%;
    background-size: cover;
    background-position: 0px 900px;
}

.Signup-Container {
    background: rgba(255, 255, 255, .4);
    width: 38%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    margin-top: 5%;
}