.Disclaimer-Container {
    background-image: url('./nikolas-noonan-splash.jpg');
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-position: center;
    
}

.Disclaimer-Container > div {
    margin: 0 auto;
}

h1 {
    font-family: Impact;
}

