.Marker-Info {
    width: 45%;
    margin: 0px 10px;
    text-align: left;
    align-items: baseline;
}

p {
    font-size: 22px;
    margin-top: 0;
    margin-bottom: 0;
    font-family: 'Bebas Neue', Helvetica, sans-serif;
}

#info {
    font-family: Helvetica, sans-serif;
    font-size: 20px;
}

#props-date {
    font-size: 30px;
}

#props-lng-lat {
    font-size: 30px;
}