.map-container {
    display: flex;
    padding: 5px 50px 50px 25px;
}

.map {
    border: solid black 1px;
}

.marker {

}

.details-container {
    padding-left: 10px;
}

.details {

}

.detail-header {

}

#time {

}

#location {

}